@import "tailwindcss" important;

* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif !important;
}
input::placeholder {
    transition-duration: .3s ;
    z-index: 1 ;
    line-height: 1.5em;
}
input:focus::placeholder {
    font-size: 10px ;
    transform: translate(0px, -16px) ;
    z-index: 1;
}
.ant-input-affix-wrapper-lg {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
}
input.ant-input {
  height: 40px !important;
  line-height: 1.5 !important;
  flex: 1;
}
span.ant-input-suffix {
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  padding: 0 !important;
}
