* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: 'Segoe UI', 'Roboto', sans-serif !important;
}

input::placeholder {
    transition-duration: .3s;
    z-index: 1;
}

input:focus::placeholder {
    font-size: 10px;
    transform: translate(0px, -16px);
    z-index: 1;
}